!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title wintersass
    link(rel='stylesheet', href='style/app.css')
  body
    div
      h1 We love wintersmith
      h2 Node isn't so sassy
      h3 But some rails devs love node too
      h3 So we're here for you man
